@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

@font-face {
  font-family:Eventpop;
  src:url(../src/fonts/Eventpop/eventpop-bold.ttf);
  font-weight:700;
  unicode-range: 'U+0E00–U+0E7F';
}

@font-face {
  font-family:Eventpop;
  src:url(../src/fonts/Eventpop/eventpop-medium.ttf);
  font-weight:500;
  unicode-range: 'U+0E00–U+0E7F';
}

@font-face {
  font-family:Sukhumvit Set;
  src:url(../src/fonts/Sukhumvit-set/SukhumvitSet-Bold.ttf);
  font-weight:700;
  unicode-range: 'U+0E00–U+0E7F';
}

@font-face {
  font-family:Sukhumvit Set;
  src:url(../src/fonts/Sukhumvit-set/SukhumvitSet-SemiBold.ttf);
  font-weight:600;
  unicode-range: 'U+0E00–U+0E7F';
}

@font-face {
  font-family:Sukhumvit Set;
  src:url(../src/fonts/Sukhumvit-set/SukhumvitSet-Medium.ttf);
  font-weight:500;
  unicode-range: 'U+0E00–U+0E7F';
}

@font-face {
  font-family:Sukhumvit Set;
  src:url(../src/fonts/Sukhumvit-set/SukhumvitSet-Text.ttf);
  font-weight:400;
  unicode-range: 'U+0E00–U+0E7F';
}

@font-face {
  font-family:Sukhumvit Set;
  src:url(../src/fonts/Sukhumvit-set/SukhumvitSet-Light.ttf);
  font-weight:300;
  unicode-range: 'U+0E00–U+0E7F';
}

@font-face {
  font-family:Sukhumvit Set;
  src:url(../src/fonts/Sukhumvit-set/SukhumvitSet-Thin.ttf);
  font-weight:200;
  unicode-range: 'U+0E00–U+0E7F';
}

@media (min-width:1200px){
  .page-section {
    margin-left:256px;
  }
  .header-mobile{display:none}
  #sidebar {
    animation:sidebarActive 400ms forwards !important;
  }
  .close-sidebar-mobile,.search-btn-mobile{display:none !important}
}

* {
  font-family:Inter, Eventpop;
}

h1,h2,h3,h4,h5,h6{
  font-family:Poppins, Eventpop;
}

#sidebar {
  width:256px;
  border-right:1px solid #F4F5F6;
  z-index:99;
}

#video-overlay,#video-apps,#sidebar-overlay {
  visibility:hidden;
  opacity:0;
}

.page-section {
  margin-left:256px;
}

.btn {
  background-color:#0099FF;
}

.menu-item {
  padding:8px;
  border-radius:6px;
  display:flex;
  gap:11px;
  margin-top:8px;
  &:hover {
    background-color:#F4F5F6;
    color:#0077E0;
  }
}

.price {
  background: linear-gradient(94.15deg, #A749F1 -9.01%, #4FA6F8 132.45%);
  background-clip:text;
  color:transparent;
  letter-spacing:-4%;
  font-size:38px;
  font-weight:800
}

.online{color:#118253;font-size:13px}
.link-anchor{color:#888;text-decoration:underline}
.active{color:#0077E0}
.headings{color:#333333D9}
.paras{color:#687178}
.font-11{font-size:11px}
.font-13{font-size:13px}
.font-15{font-size:15px}
.sukhumvit{font-family:Sukhumvit Set}

.upgrade-btn {
  background-color:#DBFF00;
  padding:6.4px 15px;
  border-radius:29px;
  font-size:16px;
  font-weight:600;
  margin-bottom:13px;
}

.app-logo {
  width:141px;
  height:141px;
  padding:28px;
  box-sizing:border-box;
  border-radius:12px;
  margin-bottom:12px
}

.app-name {
  color:#344054;
  font-weight:600;
  font-size:14px;
  margin-bottom:7px;
}

.dashboard-container{
  max-width:760px;
}

.btn-primary-shadow {
  box-shadow:0 4px 8px 0 #0099FF33;
  cursor:pointer;
}

.header-mobile {
  width:90px;
  height:100%;
  background-color:white;
  padding:20px;
  position:fixed;
  z-index:10;
}

.sidebar-btn {
  width:32px;
  height:32px;
  background-color:#F3F3F3;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:6px;
  cursor:pointer;
}

.required {color:#FF0000}

.select-app-input {
  display:inline-block;
  border:1px solid #E5E5E5;
  border-radius:8px;
}

.checkbox-apps:checked + .select-app-input,.checkbox-apps:hover + .select-app-input {
  border-color:#0099FF;
}

.app-desc {
  background-color:white;
  width:calc(100% - 2px);
  bottom:6px;
}

.checkbox-apps:checked + .select-app-input .app-desc,.checkbox-apps:hover + .select-app-input .app-desc {
  background-color:#F0F8FE;
}

.started-guide-card .guide-title{
  transition:all 200ms;
}

.started-guide-card:hover .guide-title {
  color:#0099FF;
  transition:all 200ms;
}

.slick-slide img {
  display: block;
  height: auto;
  width: 534px !important;
  padding-left: 13px;
  margin-left: -10px;
}

.slick-next{
  right: -6px !important;
}

.slick-next:before {
  font-family: 'Material Icons' !important;
  content: 'chevron_right' !important;
  color:#2D94F0 !important; 
  font-size: 35px !important;
}
.warn {
  animation:warnAnim 300ms;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container {
  background-color: white;
  padding: 20px;
  position: fixed;
  top: 15%;
}

.list-class:hover h4 {
  color: white;
}

.list-class:hover p {
  color: white;
}

.selected-li{
  background: #0099FF;
}

.selected-li h4{
  color: white;
}

.selected-li p{
  color: white;
}

@media screen and (max-width:1025px){
  .slick-next{
    right: 10px !important;
  }

  .slick-next:before {
    font-size: 15px !important;
    padding: 10px 0px;
  
  }

  .slick-prev{
    left: 3px !important;
  }

  .slick-prev:before {
    font-size: 15px !important;
    padding: 10px 0px;
  
  }
}

@media (max-width:1500px) and (min-width:991px){
  .started-guide {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .blog-sec {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width:1199px){
  #sidebar {
    transform:translateX(-300px);
  }
  .page-section {
    margin-left:90px;
  }
  .header-mobile h1{
    font-size:24px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    width:48px;
    height:48px;
    border-radius:50%;
    background-color:#F3F3F3;
  }
  .close-sidebar-mobile{display:flex}
  .search-btn{display:none}
}

@media screen and (max-width:500px) {
  .slick-slide img{
    // height: 200px;
  }
}

@media only screen and (min-width:1600px) {
  .business-detail-page{
    width: 1350px;
  }
}

@keyframes sidebarActive {
  from {
    transform:translateX(-300px);
  }
  to {
    transform:translateX(0);
  }
}

@keyframes sidebarInactive {
  from {
    transform:translateX(0);
  }
  to {
    transform:translateX(-300px);
  }
}

@keyframes sidebarOverlayActive {
  from {
    visibility:hidden;
    opacity:0
  }
  to {
    visibility:visible;
    opacity:0.75
  }
}

@keyframes sidebarOverlayInactive {
  from {
    visibility:visible;
    opacity:0.75
  }
  to {
    visibility:hidden;
    opacity:0;
  }
}

@keyframes openModal {
  from {
    visibility:hidden;
    opacity:0;
  }
  to {
    visibility:visible;
    opacity:1;
  }
}

@keyframes closeModal {
  from {
    visibility:visible;
    opacity:1;
  }
  to {
    visibility:hidden;
    opacity:0;
  }
}

@keyframes warnAnim {
  from {
    opacity:0
  }
  to {
    opacity:1
  }
}