$gray: #667085;
$primary: #0788F5;
$error: #F04438;
$warning: #F79009;
$success: #17B26A;
$primary-color: #09090B;
$secondary-color: #71717A;

$left-sidebar-width: 60px;
$right-sidebar-width: 256px;

$mobile-header-size: 60px;
$mobile-footer-size: 60px;

html{scroll-behavior:smooth}
::-webkit-scrollbar{display:none}

@mixin check-sidebar($active: true){
  @if $active {
    $right-sidebar-width: 256px;
  }
  @else {
    $right-sidebar-width: 0px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

@font-face {
  font-family: Eventpop;
  src: url(../src/fonts/Eventpop/eventpop-bold.ttf);
  font-weight: 700;
  unicode-range: 'U+0E00–U+0E7F';
}

@font-face {
  font-family: Eventpop;
  src: url(../src/fonts/Eventpop/eventpop-medium.ttf);
  font-weight: 500;
  unicode-range: 'U+0E00–U+0E7F';
}

@font-face {
  font-family: Sukhumvit Set;
  src: url(../src/fonts/Sukhumvit-set/SukhumvitSet-Bold.ttf);
  font-weight: 700;
  unicode-range: 'U+0E00–U+0E7F';
}

@font-face {
  font-family: Sukhumvit Set;
  src: url(../src/fonts/Sukhumvit-set/SukhumvitSet-SemiBold.ttf);
  font-weight: 600;
  unicode-range: 'U+0E00–U+0E7F';
}

@font-face {
  font-family: Sukhumvit Set;
  src: url(../src/fonts/Sukhumvit-set/SukhumvitSet-Medium.ttf);
  font-weight: 500;
  unicode-range: 'U+0E00–U+0E7F';
}

@font-face {
  font-family: Sukhumvit Set;
  src: url(../src/fonts/Sukhumvit-set/SukhumvitSet-Text.ttf);
  font-weight: 400;
  unicode-range: 'U+0E00–U+0E7F';
}

@font-face {
  font-family: Sukhumvit Set;
  src: url(../src/fonts/Sukhumvit-set/SukhumvitSet-Light.ttf);
  font-weight: 300;
  unicode-range: 'U+0E00–U+0E7F';
}

@font-face {
  font-family: Sukhumvit Set;
  src: url(../src/fonts/Sukhumvit-set/SukhumvitSet-Thin.ttf);
  font-weight: 200;
  unicode-range: 'U+0E00–U+0E7F';
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cal Sans';
  src: url('./fonts/Cal sans/CalSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family:'Cooper Black';
  src: url('./fonts/Cooper Black/CooperFiveOpti-Black.otf')
}

body {
  overflow-y:scroll;
  font-family:'Inter', 'Eventpop', sans-serif;
}

.bg-gradient{background: linear-gradient(50deg, #FFF 78.99%, #D1B5FF 271.14%)}
.inter{font-family:'Inter'}
.eventpop{font-family:'Eventpop', sans-serif}
.cal-sans{font-family:'Cal Sans', sans-serif}
.sukhumvit{font-family:'Sukhumvit Set', sans-serif}
.cooper-black{font-family:'Cooper Black'}

.see-more {
  opacity:0;
  transition:opacity 100ms;
}

.app-card {
  box-shadow:none;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height:auto;
  &:hover .see-more {
    opacity:1;
    transition:opacity 100ms;
  }
}

.sidebar-site {
  overflow:hidden;
  mask-image:linear-gradient(to right, white 80%, transparent 90%)
}

.register-formbox {
  margin:auto;
  width:100%;
  height:80%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  max-width:calc(24rem + 20px);
  overflow-y:auto;
  box-sizing:border-box;
  padding:10px;
}

.login-line-btn {
  border-radius: 8px;
  background: linear-gradient(152deg, #00B945 0%, #00D14E 100%);
  box-shadow: 0 4px 10px 0 rgba(17, 192, 82, 0.05); 
  display:inline-flex;
  width:100%;
  color:white;
  padding:8px;
  justify-content:center;
  gap:8px;
}

.guide-btn {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  box-shadow:0 0 0 1px #E4E4E7;
  transition:box-shadow .1s;
  box-sizing:border-box;
  &:hover {
    box-shadow:0 0 0 2px #006aff99;
    transition:box-shadow .1s;
    .inner-guide-btn {
      background-color:#F4F4F5;
      border:1px solid #F4F4F5;
      transition:background-color .1s;
    }
  }
}

.inner-guide-btn {
  display:flex;
  align-items:center;
  gap:8px;
  border:1px solid #E4E4E7;
  border-radius:9999px;
  background-color:white;
  transition:background-color .1s;
}

.form-input {
  border-radius:6px;
  border:1px solid #E4E4E7;
  background:#FFF;
  box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-size:14px;
  padding:8px 12px;
}

.btn-image-shadow {
  box-shadow:0 4px 10px 0 rgba(0, 0, 0, 0.10);
}

.main-heading {
  font-size:24px;
  font-style:normal;
  font-weight:700;
  line-height:32px;
  color:$primary-color;
}

.domain-heading {
  font-size:20px;
  font-weight:700;
  letter-spacing:-0.5px;
  line-height:28px;
  color:$primary-color;
}

.settings-heading {
  font-size:16px;
  line-height:16px;
  font-weight:600;
  margin-bottom:4px;
  letter-spacing:-0.4px;
  color:$primary-color
}

.secondary-heading {
  font-size:18px;
  line-height:28px;
  font-weight:600;
  color:$primary-color
}

.main-desc {
  font-size:14px;
  line-height:20px;
  color:$secondary-color
}

.secondary-desc {
  font-size:16px;
  line-height:24px;
  color:$secondary-color
}

.subheading {
  font-size:14px;
  line-height:20px;
  color:$primary-color
}

.text-desc {
  font-size:12px;
  line-height:16px;
  color:$secondary-color
}

.btn-with-icon {
  display:flex;
  gap:8px;
  align-items:center;
}

.menu-card,.menu-card-app-store {
  cursor:pointer;
  overflow:hidden;
  border-radius:10px;
  width:164px;
  height:174px;
  font-size:14px;
  font-weight:500;
  position:relative;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.required {
  color:#EF4444
}

.menu-card {
  &:nth-child(5),&:nth-child(6){
    padding-top:20px;
  }
}

.menu-card-app-store {
  &:nth-child(1),&:nth-child(2),&:nth-child(5),&:nth-child(6){
    padding-top:16px;
  };
  &:nth-child(3){
    svg {
      margin-right:8px;
    }
  };
  &:nth-child(6){
    svg {
      margin-left:16px;
    }
  }
}

.listminus-btn {
	min-width:40px;
	height:40px;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:#F4F4F5;
	border-radius:6px;
	border:none;
}

.chevron-btn {
  position:absolute;
  right:0.75rem;
  cursor:pointer;
  opacity:0;
  transition:opacity 400ms;
  margin-top:12px;
}

#sidebar {
  width:$right-sidebar-width;
  border-right:1px solid #E4E4E7;
  z-index:4;
  display:block !important;
  transition:width 300ms;
  position:fixed;
  height:100vh;
  margin-left:$left-sidebar-width;
  &.active {
    transform:translateX(0);
    transition:transform 300ms;
  }
  &.inactive {
    transform:translateX(-100%);
    transition:transform 300ms;
  }
  &:hover {
    .chevron-btn {
      opacity:0.5;
      transition:opacity 400ms;
    }
  }
}

.page-section {
  padding:84px 40px 160px;
  box-sizing:content-box;
  &.active {
    margin-left:$right-sidebar-width + $left-sidebar-width;
    transition:margin-left 300ms;
  }
  &.inactive {
    margin-left:$left-sidebar-width;
    transition:margin-left 300ms;
  }
}

.dashboard-container {
  max-width:1100px;
  margin:auto;
}

.online {
  color:#118253;
  font-size:13px;
  font-weight:500;
}

.link-anchor {
  color: #888;
  text-decoration: underline
}

.app-icon svg {
  width:52px;
  height:52px;
}

.app-detail-icon svg {
  width:72px;
  height:72px;
}

.app-to-install-icon svg {
  width:52px;
  height:52px;
}

/* Sidebar style */
.sidebar-menu {
  padding:8px 16px;
  border-radius:8px;
  color:#6B7280;
  width:100%;
  display:flex;
  font-family:Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  align-items:center;
  gap:10px;
  &.active {
    color:black;
    background: #F3F4F6;
  }
}

.nav-left-side {
  z-index:5;
  height:100%;
  position:fixed;
  display:flex;
  flex-direction:column;
  gap:17px;
  top:0;
  width:$left-sidebar-width;
  background:#F7F7F7;
  padding:16px 12px 12px;
  border-right:1px solid #E4E4E7;
  img {
    display:block;
    width:60%;
    margin:0 auto 6px;
    cursor:pointer;
    border-radius:6px;
  }
}

.nav-btns {
  min-width:36px;
	min-height:36px;
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
  box-sizing:border-box;
	border-radius:6px;
  background-color:#F4F4F5;
	outline:0px double #CECECE;
	border:1px solid #E4E4E7;
  color:#6B7280;
  &.hide {
    display:none;
  }
  &.show {
    display:inherit;
  }
  &.add {background-color:white}
	// &:hover,&.active {background-color:#F0F1F2}
	&.add-ons {
    border:none;
    box-sizing:border-box;
    &:hover {
      outline:2px double #CECECE
    }
  }
}

.badge-sidebar {
  display:inline-flex;
  align-items:center;
  justify-content:center;
  border-radius:6px;
  padding:0 5px;
  font-size:12px;
  &.orange {
    background-color:#FEF6EE;
    color:#B93815;
    border:1px solid #F9DBAF;
    .badge-circle {
      color:#EF6820
    }
  }
  &.blue {
    background-color:#EFF8FF;
    color:#175CD3;
    border:1px solid #B2DDFF;
    .badge-circle {
      color:#2E90FA
    }
  }
  &.gray {
    background-color:#F9FAFB;
    color:#344054;
    border:1px solid #EAECF0;
    .badge-circle {
      color:#EF6820
    }
  }
}

.badge-circle {
  width:8px;
  height:8px;
  margin-right:4px;
}

/* End of sidebar style */

.topbar {
  box-sizing:border-box;
  width:100%;
  position:fixed;
  height:53px;
  top:0;
  right:0;
  background-color:white;
  padding:4px 19px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  z-index:8;
  &.active {
    width:calc(100% - ($right-sidebar-width + $left-sidebar-width));
    transition:width 300ms;
  }
  &.inactive {
    width:calc(100% - $left-sidebar-width);
    transition:width 300ms;
  }
  &.no-sidebar {
    width:100%;
  }
}

$gradient-border-size:3px;
$gradient-border-radius:10px;
$gradient-border:linear-gradient(to right, #9A5BFF, #FF9C27);

@mixin gradient-card {
  position:relative;
	border:$gradient-border-size solid transparent;
  background:white;
  background-clip:padding-box;
  border-radius:$gradient-border-radius;
  &::after {
    content:'';
    position:absolute;
    top:-$gradient-border-size;
    bottom:-$gradient-border-size;
    left:-$gradient-border-size;
    right:-$gradient-border-size;
    background:$gradient-border;
    z-index:-1;
    border-radius:$gradient-border-radius;
  }
}

.free-trial {
  @include gradient-card;
  padding:26px 24px;
  margin-top:16px;
}

.step-register {
  display:flex;
  flex-direction:column;
  border-radius:999px;
  height:4px;
  width:60px;
  background-color:#e5e7eb;

  .step-register-inner {
    height:4px;
    border-radius:999px;
    background-color:#0F172A;
    width:0%;
    transition:width 200ms;
    &.complete {
      width:100%;
      transition:width 200ms
    }
  }
}

.register-sec, .login-with-sec {
  animation:slideDownAnim 800ms;
  &.up-in {
    animation:slideUpAnimIn 400ms forwards;
  }
  &.up-out {
    animation:slideUpAnimOut 400ms forwards;
  }
}

@keyframes slideDownAnim {
  from {
    transform:translateY(-20px);
    opacity:0;
    visibility:hidden;
  }
  to {
    opacity:1;
    visibility:visible;
    transform:translateY(0);
  }
}

@keyframes slideUpAnimOut {
  from {
    transform:translateY(0);
    opacity:1;
    visibility:visible;
  }
  to {
    opacity:0;
    visibility:hidden;
    transform:translateY(-20px);
  }
}

@keyframes slideUpAnimIn {
  from {
    transform:translateY(20px);
    opacity:0;
    visibility:hidden;
  }
  to {
    opacity:1;
    visibility:visible;
    transform:translateY(0);
  }
}

.error {
  color:$error;
  font-size:14px;
  line-height:24px;
  font-family:Inter;
}

.primary-btn {
  display:inline-flex;
  border:1px solid transparent;
  align-items:center;
  border-radius:8px;
  font-size:14px;
  line-height:24px;
  color:white;
  font-weight:600;
  background-color:$primary;
  padding:7px 10px;
  &.disabled {
    background-color:#b4ddff;
    cursor:not-allowed;
  }
  &.error {
    background-color:$error;
  }
}

.checkbox-card {
  position:relative;
  display:flex;
  flex-direction:column;
  align-items:center;
  border-radius:8px;
  overflow:hidden;
  cursor:pointer;
  height:100%;
}

.checkbox-card-input {
  opacity:0;
  position:absolute;
}

.checkbox-card-input:checked ~ .checkbox-card {
  border-color:$primary;
}

.moving-line {
  height: 5px;
  width: 100%;
  background-color: red;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  animation: moving-line 2s linear infinite;
  background: linear-gradient(to right, #006AFF 0%, #0094FF 30%, #dad3d336 55%, #C293FF 80%, #006AFF 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

.loading-icon{
  width:20px; /* Customise the width */
  height:20px; /* Customise the height */
  border-radius:50%;
  background:linear-gradient(0deg, $primary, #F2F2F2);
  animation:loadingAnim 1s linear infinite;
  margin:auto;
}

.inner-icon{
  border-radius:50%;
  margin:auto;
  display:block;
  width:18px; /* Customise the width */
  height:18px; /* Customise the height */
  background:white;
  transform:translate(0,1px) /* Just customise the Y axis */
}

.table-invoice-detail td {
  padding:8px 0;
}

.fade-in {
  animation:fadeIn 1.5s forwards;
  animation-delay:.3s;
  opacity:0;
}

@keyframes fadeIn {
  from {opacity:0}
  to {opacity:1}
}

@keyframes moving-line {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.loading-icon-check {
  display: inline-block;
  vertical-align: top;
  opacity: 1;
  overflow: visible;

  &.loading-icon-check-success {
    .success-tick {
      fill: none;
      strokeWidth: 1px;
      stroke: #20D84A;
      stroke-dasharray: 15px, 15px;
      stroke-dashoffset: -14px;
      animation: success-tick 450ms ease 600ms forwards;
      opacity: 0;
    }
  
    .success-circle-outline {
      fill: none;
      strokeWidth: 1px;
      stroke: #20D84A;
      stroke-dasharray: 72px, 72px;
      stroke-dashoffset: 72px;
      animation: success-circle-outline 300ms ease-in-out forwards;
      opacity: 0;
    }
  
    .success-circle-fill {
      fill: #bbf7d0;
      stroke: none;
      opacity: 0;
      animation: success-circle-fill 300ms ease-out 300ms forwards;
    }
  }

  &.loading-icon-check-primary {
    .success-tick {
      fill: none;
      strokeWidth: 1px;
      stroke: $primary;
      stroke-dasharray: 15px, 15px;
      stroke-dashoffset: -14px;
      animation: success-tick 450ms ease 600ms forwards;
      opacity: 0;
    }
  
    .success-circle-outline {
      fill: none;
      strokeWidth: 1px;
      stroke: $primary;
      stroke-dasharray: 72px, 72px;
      stroke-dashoffset: 72px;
      animation: success-circle-outline 300ms ease-in-out forwards;
      opacity: 0;
    }
  
    .success-circle-fill {
      fill: white;
      stroke: none;
      opacity: 0;
      animation: success-circle-fill 300ms ease-out 300ms forwards;
    }
  }

  @keyframes success-tick {
    0% {
      stroke-dashoffset: 16px;
      opacity: 1
    }

    100% {
      stroke-dashoffset: 31px;
      opacity: 1
    }
  }

  @keyframes success-circle-outline {
    0% {
      stroke-dashoffset: 72px;
      opacity: 1
    }

    100% {
      stroke-dashoffset: 0px;
      opacity: 1
    }
  }

  @keyframes success-circle-fill {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@media (max-width:767px){
  .register-screen {
    width:calc(100% - 60px)
  }
  ::-webkit-scrollbar {
    display:none
  }
}